/*----------------------------------GLOBAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin-bottom: 1vw;
}

#hBtn {
    padding: 1vw;
    margin-top: 2vw;
    border: none;
    font-size: 2vw;
    border-radius: 0.5vw;
}

#hBtn:active {
    transform: translateY(0.2vh);
}

.char {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: 2.5vw;
    }

    h5 {
        font-size: 1.5vw;
        font-weight: bold;
    }

    img {
        width: 20vw;
    }

    p {
        font-size: 1.2vw;
    }
}